html body {
  background: black;
}
.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  background: black;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.possible-ghost-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.ghost-component {
  width: 180px;
  height: 140px;
  color: rgb(0, 0, 0);
  background: black;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-image: url("https://i.pinimg.com/originals/22/ae/09/22ae093116adbe16da815108eeb535aa.jpg");
}

.possible-evidence-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.possible-evidence {
  /* width: 400px; */
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(47, 90, 128);
  margin: 10px;
  height: 50px;
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


